@media (min-width: 766px) {
  #navbarMenuToggler, #navbarMenu {
    display: none !important;
  }
  #navbarMenu {
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: white;
  }