body {
  background-image: url(./images/clay-leconey-0dIE1qLjfnM-unsplash.jpg);
}
.main-page {
  padding: 300px 0px 300px 0px;
}
.background-image {
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 500px;
  background-position: center;
}
.portfoliopage-pic {
  padding: 20px;
}
.socialmedia-page {
  margin: 200px 0pc 200px 0px;
}