body {
  background-image: url(./images/solen-feyissa-YU24Vytv1vQ-unsplash.jpg);
}
.main-page {
  margin: 300px 0px 300px 0px;
}
.background-image {
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 500px;
  background-position: center;
}
@media (max-width: 786px) {
  .background-image {
    height: 300px;
    width: 300px;
}
}
.portfoliopage-pic {
  padding: 20px;
}
.socialmedia-page {
  margin: 200px 0pc 200px 0px;
